<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="voteBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <voteBatch.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="SlaveId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=(LocalDb)\v11.0;Initial Catalog=databaseName;Integrated Security=SSPI;AttachDBFilename=C:\Temp\iVoting\App_Data\VotingDB.mdf</value>
            </setting>
            <setting name="dbLocation" serializeAs="String">
                <value>C:\Temp\iVoting\App_Data</value>
            </setting>
        </voteBatch.Properties.Settings>
    </userSettings>
</configuration>